<html lang="pl">
	<head>
		<title>Przeglądarka magazynu Piwowar</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="./assets/styles.css">
		<link rel="shortcut icon" href="./assets/favicon.ico">
		<link rel="icon" href="./assets/favicon.ico" type="image/x-icon">
	</head>

	<body>
		<div id="browser">
			<div id="menu" class="ui centered secondary one item menu" :style="getBackgroundLabel(background)">
				<button class="ui basic icon button" @click.prevent="showMenu = !showMenu">
					<i class="big settings icon"></i>
				</button>
				<img src="./assets/header.png" alt="Przeglądarka magazynu Piwowar">
				<button class="ui basic icon button" @click.prevent="showAbout = !showAbout">
					<i class="big question mark outline circle icon"></i>
				</button>
			</div>

			<div class="ui container basic segment">
				<div class="cover" v-if="showMenu || showAbout" @click="resetView()"></div>
                <div class="ui left dividing rail" :class="{ show: showMenu }">
	                <div class="form">
		                <div class="label">Przeszukaj tytuły artykułów:</div>
		                <label class="ui fluid icon input">
			                <input type="text" placeholder="Przeszukaj..." v-model="searchedTitle">
			                <i class="search icon" v-if="!searchedTitle"></i>
			                <i class="link close icon" v-else @click="searchedTitle = ''"></i>
		                </label>
	                </div>

	                <div class="form">
		                <div class="label">Przeszukaj sekcje:</div>
		                <label class="ui fluid icon input">
			                <input type="text" placeholder="Przeszukaj..." v-model="searchedSectionName">
			                <i class="search icon" v-if="!searchedSectionName"></i>
			                <i class="link close icon" v-else @click="searchedSectionName = ''"></i>
		                </label>
                    <div class="ui middle aligned divided list">
                      <div class="clickable item" v-for="section in filteredSections" @click="filterSection(section.name)">
                        <div class="right floated content">
                          {{ section.articles }}
                        </div>
                        <i class="times circle outline icon" v-if="sectionFilter && sectionFilter === section.name"></i>
                        <div class="content">
                          {{ section.name }}
                        </div>
                      </div>
                      <div class="clickable text centered item" @click="showMoreSections = !showMoreSections" v-if="showMoreSectionsMenu">
                        <i class="caret down icon" :class="{ up: showMoreSections }"></i>
                        <div class="content" v-if="!showMoreSections">
                          pokaż więcej
                        </div>
                        <div class="content" v-else>
                          schowaj
                        </div>
                      </div>
                    </div>
	                </div>

	                <div class="form">
		                <div class="label">Filtruj po autorze:</div>
		                <label class="ui fluid icon input">
			                <input type="text" placeholder="Przeszukaj..." v-model="searchedAuthorName">
			                <i class="search icon" v-if="!searchedAuthorName"></i>
			                <i class="link close icon" v-else @click="searchedAuthorName = ''"></i>
		                </label>
		                <div class="ui middle aligned divided list">
			                <div class="clickable item" v-for="author in filteredAuthors" @click="filterAuthor(author.name)">
				                <div class="right floated content">
					                {{ author.articles }}
				                </div>
				                <i class="times circle outline icon" v-if="authorFilter && authorFilter === author.name"></i>
				                <div class="content">
					                {{ author.name }}
				                </div>
			                </div>
			                <div class="clickable text centered item" @click="showMoreAuthors = !showMoreAuthors" v-if="showMoreAuthorsMenu">
				                <i class="caret down icon" :class="{ up: showMoreAuthors }"></i>
				                <div class="content" v-if="!showMoreAuthors">
					                pokaż więcej
				                </div>
				                <div class="content" v-else>
									schowaj
				                </div>
			                </div>
		                </div>
	                </div>
                </div>
				<div class="ui right dividing rail" :class="{ show: showAbout }">
                    <p>
                        <strong>Przeglądarka magazynu Piwowar</strong> jest narzędziem indeksującym
                        artykuły ukazujące się na łamach kwartalnika Piwowar wydawanego przez Polskie
                        Stowarzyszenie Piwowarów Domowych.
                    </p>
                    <p>
                        Celem jest uproszczenie etapu szukania artykułu: poprzez wpisanie tytułu, nazwiska autora,
                        nazwy sekcji  można odnaleźć wszystkie artykuły (wraz z numerem magazynu oraz stroną)
	                    spełniające zadany zakres poszukiwań.
                    </p>
                    <p>
                        Przeglądarka nie zawiera części ani całości treści artykułów i należy z niej korzystać
                        jako z pomocy ułatwiającej nawigowanie przez własny zbiór czasopism. Kwartalnik Piwowar
                        można zamówić na <a href="http://www.pspd.org.pl/piwowar" target="_blank">stronie PSPD</a>.
                    </p>
                    <p>
                        Autor aplikacji:
                        <a href="https://github.com/krzysztofrewak" target="_blank">Krzysztof Rewak</a>.
                    </p>
                    <p class="icons">
                        <a href="https://github.com/krzysztofrewak/piwowar/blob/master/LICENSE" target="_blank">
                            <i class="large balance scale icon"></i>
                        </a>
                        <a href="https://github.com/krzysztofrewak/piwowar" target="_blank">
                            <i class="large github icon"></i>
                        </a>
                    </p>
				</div>

				<table class="ui very basic unstackable selectable striped table" v-if="!loading">
					<thead>
						<tr>
							<th class="collapsing"></th>
							<th class="collapsing">#</th>
							<th>tytuł artykułu</th>
							<th>sekcja</th>
							<th>autorzy</th>
							<th>strona</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="article in filteredArticles">
							<td class="collapsing" :style="getBackgroundLabel(article.color)"></td>
							<td class="collapsing">{{ article.issue }}</td>
							<td>{{ article.title }}</td>
							<td class="clickable" @click="searchedSectionName = article.section">{{ article.section }}</td>
							<td>
								<div class="clickable" v-for="author in article.authors" @click="filterAuthor(author)">{{ author }}</div>
							</td>
							<td>{{ article.page }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./assets/application.js"></script>
</html>