a { color: inherit; }

.container { margin: 3em 0 !important; }
.rail { padding-top: 3em !important; opacity: .7; }
.label { margin: .5em 0; }
.form { margin-bottom: 2em; }

.icons { opacity: .7; }
.icons > a { margin-right: .5em; }
.clickable { cursor: pointer; }